@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #14100d;
  --dark-gray: #292a2c;
  --off-white: #f3f4f6;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;

  margin: 0;
}

hr {
  margin: 2rem 0;
}

/* container */
.container {
  padding: 0 1rem;
  max-width: 800px;
  margin: auto;
}

/* links */
.link {
  text-decoration: none;
  color: #292a2c;
}
.link:hover:not(.back-link) {
  color: black;
}
.back-link {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
}

/* lists */
.list-non-bullet {
  list-style-type: none;
}
.list-inline-item {
  display: inline;
  padding: 1rem;
}

/* nav */
.navigation {
  text-align: center;
  color: black;
  background-color: white;
  padding: 3rem;
  position: sticky;
  top: 0;
}
.navigation .nav-heading {
  font-size: large;
  font-weight: bold;
}
/* section*/
.command {
  padding: 1.5rem 0 1.5rem 3rem;
  font-style: italic;
}
.ow {
  background-color: var(--off-white);
}
.written {
  text-align: center;
}
/* footer */
footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .link {
  color: white;
}
footer ul {
  padding-inline-start: 0px;
}
